	
	body {
		background-color: lightblue;
		text-align: justify;
		font-size: 20px;
	}

	#livraria {
		width: 150px; 
		height: 150px; 
		position: absolute;
		}

	header {
		background: white;
		color: black;
	}

	#leitura {
		width: 1000px; 
		height: 400px; 
		margin: auto;
		display: block;
	}

	h1 {
		text-align: center;
		font-size: 50px;
		color: darkblue;
		border: 5px solid darkblue;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 250px;
		margin-right: 250px;
	}

		p {
			text-align: center;
			font-size: 20px;
			color: black;
		}
	
#missao {
	font-size: 30px;
}	

	h2 { 
		text-align: center;
		font-size: 40px;
		color: darkblue;
	    border: 2px solid darkblue;
	    margin-left: 500px;
	    margin-right: 500px;
	}

	em strong {
		color: blue;
	}

.itens { 
	font-style: italic; color: black;
	text-align: center;
	display: inline-block;
	margin: 0 0 0 280px;
	text-transform: uppercase;
	font-weight: bold;
}

nav li {
	display: inline;
	margin: 50 50 50 200px;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

}

.imagenssecundarias {
	width: 250px;
	height: 200px;
	margin: auto;
	display: inline-block;
	margin: 0 0 0 35px;
}

.produtos {
	width: 200px;
	height: 200px;
	margin: auto;
	display: inline-grid;
	margin: 120 0 0 10px;
}

.dicasdeleitura {
	width: 300px;
	height: 300px;
	margin: auto;
	display: inline-block;
	margin: 0 0 0 10px;
}

.algernon {
	width: 400px;
	height: 400px;
	margin: auto;
	display: inline-block;
	margin: 50 200 100 400px;
}

.heidi {
	width: 400px;
	height: 400px;
	margin: auto;
	display: inline-block;
	margin: 50 200 100 400px;
}

.estrelas {
	width: 400px;
	height: 400px;
	margin: auto;
	display: inline-block;
	margin: 50 200 100 400px;
}

.despertar {
	width: 400px;
	height: 400px;
	margin: auto;
	display: inline;
	margin: 50 0 0 200px;
}

.dicas{
	display: inline;
	margin: 0 0 0 20px;

}

